        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            list-style: none;
        }
        
        body {
            position: relative;
        }
        
        a {
            text-decoration: none;
        }
        
        .topbanner {
            height: 160px;
            background: url(../imgs/1.jpg) -200px;
        }
        
        .header {
            height: 56px;
            display: flex;
        }
        /* header */
        /* 导航栏左半部 */
        
        .nav-left {
            width: 520px;
            height: 50px;
            margin-left: 20px;
            margin: 10px 0px 0px 20px;
            display: flex;
        }
        /* biliblili logo */
        
        .nav-left li {
            list-style: none;
            padding: 10px;
            margin-left: -4px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
        }
        
        .nav-left .bilibili-icon {
            padding: 0px;
            width: 60px;
        }
        
        .nav-left .bilibili-icon a {
            display: flex;
            text-decoration: none;
            line-height: 50px;
            color: white;
        }
        
        .nav-left .bilibili-icon .name {
            width: 40px;
        }
        
        .bilibili-icon img {
            margin: auto;
            margin-top: 16px;
        }
        
        .name div {
            float: left;
            line-height: 30px;
            font-size: 14px;
            margin-top: 10px;
            color: white;
        }
        /* 番剧等 */
        
        .nav-left a {
            text-decoration: none;
            color: white;
        }
        /* 搜索框 */
        
        .searchbox {
            display: flex;
            width: 500px;
            height: 36px;
            margin: auto 10px;
            background-color: rgb(244, 244, 244);
            border-color: rgba(53, 52, 52, 0.5);
            border: 2px;
        }
        
        .searchbox .text {
            border: 1px;
            outline: none;
            width: 444px;
            height: 30px;
            margin: 3px 0px 1px 20px;
            background-color: rgb(244, 244, 244);
        }
        
        .searchbox .searchscope {
            width: 48px;
            height: 36px;
            background-color: rgba(231, 231, 231);
        }
        
        .searchscope .img {
            margin: 8px;
        }
        /* 导航栏右端 登录注册和投稿 */
        
        .nav-right {
            display: flex;
            list-style: none;
            width: 420px;
            height: 36px;
            margin: auto 10px;
        }
        
        .nav-right a {
            text-decoration: none;
            color: white;
            line-height: 36px;
            font-size: 14px;
        }
        
        .nav-right li {
            width: 40px;
        }
        
        .nav-right .create-center {
            width: 80px;
        }
        
        .nav-right .img {
            border-radius: 32px;
            vertical-align: middle;
        }
        
        .nav-right .login {
            width: 90px;
            margin-left: 10px;
            font-weight: lighter;
            color: white;
        }
        /* resign */
        
        .nav-right .resign {
            width: 40px;
            height: 36px;
            margin-left: 10px;
            line-height: 36px;
            color: white;
        }
        
        .nav-right .resign a {
            text-decoration: none;
            color: white;
            font-weight: lighter;
        }
        
        .nav-right .submit {
            width: 100px;
            height: 36px;
            border-radius: 2px;
            background-color: rgb(251, 114, 153);
            text-align: center;
            line-height: 36px;
        }
        
        .nav-right .submit a {
            text-decoration: none;
            color: white;
        }
        
        .bilibililogo {
            margin-left: 100px;
            width: 163px;
            height: 78px;
        }
        /* main主体*/
        
        .main {
            width: 1198px;
            margin: 0 auto;
        }
        
        .main .nav-division {
            display: flex;
            width: 100%;
            height: 108px;
            padding: 20px 0px;
        }
        
        .nav-division .division-left {
            display: flex;
            justify-content: space-around;
            border-right: 1px solid;
            width: 200px;
            height: 68px;
            color: rgb(214, 216, 214);
        }
        
        .main .division-middle {
            display: flex;
            flex-wrap: wrap;
            width: 700px;
            height: 100%;
            border-right: 1px solid;
            color: rgb(214, 216, 214);
        }
        
        .division-middle a {
            width: 61px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            font-size: 14px;
            color: black;
        }
        
        .main .division-left a {
            font-size: 14px;
            display: inline-block;
            width: 40px;
            height: 60px;
            color: black;
        }
        
        .main .division-right {
            display: flex;
            flex-wrap: wrap;
            width: 298px;
        }
        
        .division-right a {
            line-height: 34px;
            text-align: center;
            width: 80px;
            height: 34px;
            color: black;
            font-size: 14px;
        }
        
        .division-right a img {
            width: 16px;
        }
        
        #music-PlUS {
            width: 100px;
            height: 34px;
            color: coral;
        }
        /* 轮播图 */
        
        .broadcast {
            width: 550px;
            height: 242px;
            position: relative;
            overflow: hidden;
        }
        
        .broadcast .container {
            position: relative;
            width: 10000%;
            height: 242px;
            transition: left 0.5s ease-in;
        }
        
        .broadcast img {
            position: absolute;
            width: 1%;
            z-index: -1;
        }
        
        .dots {
            position: absolute;
            right: 10px;
            bottom: 10px;
            z-index: 10;
        }
        
        .broadcast .dots a {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 10px;
            margin-left: 4px;
        }
        
        .dots a:hover {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background-color: rgb(0, 161, 214);
        }
        
        .main .broadcast .dots-change {
            background-color: rgb(0, 161, 214);
        }
        
        img:nth-of-type(2) {
            left: 550px;
        }
        
        img:nth-of-type(3) {
            left: 1100px;
        }
        
        img:nth-of-type(4) {
            left: 1650px;
        }
        
        img:nth-of-type(5) {
            left: 2200px;
        }
        
        img:nth-of-type(1) {
            left: 0px;
        }
        /* 首页推荐视频 */
        
        .recommendation {
            display: flex;
            flex-wrap: wrap;
        }
        
        .recommendation-pics {
            display: flex;
            flex-wrap: wrap;
            margin: 3px auto;
            width: 630px;
        }
        
        .recommendation-pics li {
            display: inline-block;
            margin-left: 2px;
            width: 206px;
            height: 116px;
        }
        /* 分区视频 */
        
        .division-part div span img {
            width: 30px;
            height: 30px;
        }
        
        .division-part div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 854px;
            height: 457px;
            margin-bottom: 20px;
        }
        
        .division-part span {
            display: block;
            width: 100%;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
        }
        
        .division-part img {
            width: 206px;
            height: 116px;
            margin-right: 7px;
        }
        /* 底部导航栏 */
        
        .footer {
            height: 408px;
            background-color: rgb(246, 249, 250);
            padding-left: 160px;
        }
        
        .nav-footer {
            display: flex;
        }
        
        .nav-footer a {
            color: black;
        }
        
        .bilibili {
            display: flex;
            flex-wrap: wrap;
            width: 360px;
            height: 150px;
            border-right: 1px solid;
            border-color: rgb(214, 216, 214);
        }
        
        .bilibili a {
            width: 150px;
            height: 20px;
            font-size: 14px;
        }
        
        .bilibili div {
            width: 100%;
            font-size: 16px;
            color: rgb(214, 216, 214);
        }
        
        .transition-door {
            display: flex;
            flex-wrap: wrap;
            width: 580px;
            height: 150px;
            border-right: 1px solid;
            border-color: rgb(214, 216, 214);
            padding: 0px 40px;
            margin-right: 40px;
        }
        
        .transition-door div {
            width: 100%;
            color: rgb(214, 216, 214);
        }
        
        .transition-door a {
            margin-bottom: 10px;
            width: 160px;
            height: 20px;
            font-size: 14px;
        }
        /* imgs */
        
        .imgs {
            display: flex;
            width: 304px;
            height: 150px;
            padding: 20px 50px 20px 20px;
        }
        
        .imgs img {
            margin-right: 20px;
        }
        /* 法律相关信息 */
        
        .legal-infor {
            height: 198px;
            display: flex;
            padding-top: 30px;
        }
        
        .legal-infor .pics {
            width: 100px;
            height: 168px;
            margin-right: 20px;
        }
        
        .legal-infor .legal-right {
            width: 1400px;
            font-size: 12px;
            color: rgb(153, 153, 153);
        }
        
        .legal-right span {
            display: inline-block;
            margin-top: 10px;
            margin-right: 10px
        }
        
        .footer .legal-right a {
            font-size: 12px;
            color: rgb(153, 153, 153);
        }
        /* 侧边栏 */
        
        .side-box .side-connect {
            position: fixed;
            left: 0px;
            top: 40%;
            width: 28px;
            height: 72px;
            padding: 8px 7px;
            line-height: 13px;
            border: solid 1px;
            border-color: rgb(214, 216, 214);
            box-shadow: rgb(214, 216, 214) 2px 4px 5px;
        }
        
        .side-connect:hover {
            background-color: rgb(229, 231, 229);
        }
        
        .side-connect a {
            color: black;
            font-size: 12px;
        }
        
        .side-nav {
            position: absolute;
            background-color: white;
            top: 200px;
            right: 100px;
            width: 54px;
            height: 600px;
            border: solid 1px;
            border-color: rgb(229, 231, 229);
            border-radius: 3px;
        }
        
        .side-nav a {
            display: block;
            width: 54px;
            height: 24px;
            font-size: 12px;
            color: black;
            line-height: 24px;
            text-align: center;
        }
        
        .side-nav a:hover {
            color: white;
            background-color: rgb(0, 161, 214);
        }
